.env
__pycache__/
__pycache__
vendor/
vendor
circle_flags/
circle_flags
rect_flags
rect_flags/
*.pyc
*.pyo
*.svg
*.pyd
*.ipynb
venv/
db.sqlite3
.vscode/
*.sqlite3
*.db
certificate.pem
private_key.pem

ssl_bundle.pem
untranslated_files/
.idea/
.idea